*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #5d5266;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Name{
    font-size: 30px;
    color: rgb(62, 152, 122);
    font-weight: bolder;
    width: 200px;
    text-align: center;
    font-family: cursive;
    border-radius: 15px;
    margin-bottom: 35px;
    background-color: rgba(107, 161, 163, 0.132);
    box-shadow: inset 1px 1px 25px rgba(188, 210, 236, 0.405),1px 1px 25px rgba(188, 210, 236, 0.405);

}

.game-box{
    width: 380px;
    height: 380px;
    display: grid;
    box-shadow: 1px 1px 25px rgba(93, 111, 131, 0.405);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.sub-box{
    background-color: #39495a31;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bolder;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

#box-1 , #box-2 , #box-4 , #box-5 , #box-7 , #box-8{
    border-right: 2px solid;
    animation: loadBorderLtR 1s linear , loadBorderTtB 1s linear;
}

#box-1 , #box-2 , #box-3, #box-4 , #box-5 , #box-6{
    border-bottom: 2px solid;

}

#box-2 , #box-3 , #box-6 , #box-5 , #box-8 , #box-9{
    border-left: 2px solid;

}

#box-7 , #box-8 , #box-9, #box-4 , #box-5 , #box-6{
    border-top: 2px solid;
}

#box-3 , #box-9, #box-5 , #box-6{
    animation: loadBorderLtR 1s linear,loadBorderTtB 1s linear;
}
.sub-box:hover{
    padding: 2px;
    background-color: rgba(93, 111, 131, 0.405);
}





@keyframes loadBorderLtR {
    0% {
        width: 0;
    }
    100% {

        width: 100%;
    }
}

@keyframes loadBorderTtB {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.Message-box{
    width: 200px;
    height: 70px;
    border: 2px solid;
    margin-top: 10px;
    color: #5d5266;
    background-color: #39af7a;
    font-weight: bolder;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #2eb98b;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.975);
    -webkit-tap-highlight-color: transparent;

}

.result{
    width: 380px;
    height: 150px;
    top: auto;
    position: absolute;
    visibility: hidden;
    background-color: #3e735b43;
    background-color: #463612d2;
    display: flex;    
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
    color: #d39719;
}